<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.prac.core.car.dao.TuserKakaoDAO">

    <select id="findByKakaoId" parameterType="String" resultType="my.prac.core.car.dto.TuserKakaoDto">
        SELECT USER_SEQ, KAKAO_ID, NICKNAME, PROFILE_IMAGE, AUTO_LOGIN_TOKEN,
               TO_CHAR(TOKEN_EXPIRE,  'YYYY-MM-DD HH24:MI:SS') AS TOKEN_EXPIRE,
               TO_CHAR(LAST_LOGIN,    'YYYY-MM-DD HH24:MI:SS') AS LAST_LOGIN,
               TO_CHAR(INSERT_DATE,   'YYYY-MM-DD HH24:MI:SS') AS INSERT_DATE
        FROM TCAR_USER_KAKAO
        WHERE KAKAO_ID = #{kakaoId}
    </select>

    <select id="findByToken" parameterType="String" resultType="my.prac.core.car.dto.TuserKakaoDto">
        SELECT KAKAO_ID, NICKNAME, PROFILE_IMAGE
        FROM TCAR_USER_KAKAO
        WHERE AUTO_LOGIN_TOKEN = #{token}
          AND TOKEN_EXPIRE > SYSDATE
    </select>

    <insert id="insert" parameterType="my.prac.core.car.dto.TuserKakaoDto">
        INSERT INTO TCAR_USER_KAKAO (
            USER_SEQ, KAKAO_ID, NICKNAME, PROFILE_IMAGE,
            AUTO_LOGIN_TOKEN, TOKEN_EXPIRE, LAST_LOGIN, INSERT_DATE
        ) VALUES (
            TCAR_USER_KAKAO_SEQ.NEXTVAL,
            #{kakaoId}, #{nickname}, #{profileImage},
            #{autoLoginToken}, SYSDATE + 30, SYSDATE, SYSDATE
        )
    </insert>

    <update id="updateLogin" parameterType="my.prac.core.car.dto.TuserKakaoDto">
        UPDATE TCAR_USER_KAKAO SET
            NICKNAME         = #{nickname},
            PROFILE_IMAGE    = #{profileImage},
            AUTO_LOGIN_TOKEN = #{autoLoginToken},
            TOKEN_EXPIRE     = SYSDATE + 30,
            LAST_LOGIN       = SYSDATE
        WHERE KAKAO_ID = #{kakaoId}
    </update>

</mapper>
